*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background: url(https://mir-s3-cdn-cf.behance.net/project_modules/hd/fa7bdd53820011.594239f721e01.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
}

img{
    width: 300px;
    height: 300px;
    object-fit:cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    backdrop-filter: blur(10px);
    width: 400px;
    height: 500px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
button{
    margin-top: 20px;
    cursor: pointer;
    font-size: large;
}